<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<h2>Quizzes</h2>

<!-- {{ quizzes }} -->
<ul>
  <li *ngFor="let q of quizzes">{{ q.name }} <button *ngIf="q.showDelete" (click)="deleteQuiz(q)">Delete</button></li>
</ul>

<button (click)="addFunnyQuiz()">Add Funny Quiz</button>
<br>
<br>
<input type="text" [(ngModel)]="newQuizName">
<app-choose-question-type-component></app-choose-question-type-component>
<button (click)="addQuiz()">Add</button>




<br>
<br/>


<h2>Calculator</h2>
<div>
  <input type="number" [(ngModel)]="addNumberOne">
  +
  <input type="number" [(ngModel)]="addNumberTwo">
  &nbsp;<button (click)="addNumbers()">=</button>
  &nbsp;&nbsp;
  <label>{{ addNumbersResult }}</label>
  <br><br>

  <input type="number" [(ngModel)]="modNumberOne">
  %
  <input type="number" [(ngModel)]="modNumberTwo">
  &nbsp;<button (click)="modNumbers()">=</button>
  &nbsp;&nbsp;
  <label>{{ modNumbersResult }}</label>
</div>
<br>

<div>
  <input type="number" [(ngModel)]="subtractNumberOne">
  &nbsp;<span class="redHighlight">-</span>&nbsp;
  <input type="number" [(ngModel)]="subtractNumberTwo">
  &nbsp;<button class="redHighlight" (click)="subtractNumbers()">=</button>
  &nbsp;&nbsp;
  <label>{{ subtractNumbersResult }}</label>
</div>
<br>

<div>
  <input type="number" [(ngModel)]="multiplyNumberOne">
  *
  <input type="number" [(ngModel)]="multiplyNumberTwo">
  &nbsp;<button (click)="multiplyNumbers()">=</button>
  &nbsp;&nbsp;
  <label>{{ multiplyNumbersResult }}</label>
</div>
<br>
<div>
  <input type="number" [(ngModel)]="divideNumberOne">
  /
  <input type="number" [(ngModel)]="divideNumberTwo">
  &nbsp;<button (click)="divideNumbers()">=</button>
  &nbsp;&nbsp;
  <label>{{ divideNumbersResult }}</label>
</div>

<br>

<div>
  <input type="number" [(ngModel)]="powNumberOne">
  ^
  <input type="number" [(ngModel)]="powNumberTwo">
  &nbsp;<button (click)="powNumbers()">=</button>
  &nbsp;&nbsp;
  <label>{{ powNumbersResult }}</label>
</div>






