<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<h2>Quizzes</h2>

<!-- {{ quizzes }} -->
<ul>
  <li *ngFor="let q of quizzes">{{ q.name }} <button *ngIf="q.showDelete" (click)="deleteQuiz(q)">Delete</button></li>
</ul>

<button (click)="addFunnyQuiz()">Add Funny Quiz</button>
<br>
<br>
<input type="text" [(ngModel)]="newQuizName">
<button (click)="addQuiz()">Add</button>

<br>
<br/>


<h2>Calculator</h2>
<div>
  <input type="number" [(ngModel)]="addNumberOne">
  +
  <input type="number" [(ngModel)]="addNumberTwo">
  &nbsp;<button (click)="addNumbers()">=</button>
  &nbsp;&nbsp;
  <label>{{ addNumbersResult }}</label>
</div>
<div>
  <input type="number" [(ngModel)]="divideNumberOne">
  /
  <input type="number" [(ngModel)]="divideNumberTwo">
  &nbsp;<button (click)="divideNumbers()">=</button>
  &nbsp;&nbsp;
  <label>{{ divideNumbersResult }}</label>
</div>






