<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<h2>Quizzes</h2>

<!-- {{ quizzes }} -->
<ul>
  <li *ngFor="let q of quizzes">{{ q.name }} <button *ngIf="q.showDelete" (click)="deleteQuiz(q)">Delete</button></li>
</ul>

<button (click)="addFunnyQuiz()">Add Funny Quiz</button>
<br>
<br>
<input type="text" [(ngModel)]="newQuizName">
<button (click)="addQuiz()">Add</button>

<br>
<br/>


<h2>Calculator</h2>
<div>
  <input type="text">
  +
  <input type="text">
  &nbsp;<button>=</button>
  <label></label>
</div>






